<html lang="{{ lang }}">
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8"/>
  <meta http-equiv="x-ua-compatible" content="ie=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
  <link rel="stylesheet" href="/assets/css/tailwind.css?v={% version %}"/>
  <link rel="stylesheet" href="/assets/css/main.css?v={% version %}"/>
  <meta property="og:site_name" content="Name SRS blog">
  <meta property="og:type" content="website">
  <meta property="og:title" content="{{ title }} | Name SRS">
  <meta name="apple-mobile-web-app-title" content="Name SRS blog">
  <meta name="application-name" content="Name SRS blog">
  {% if description %}
    <meta name="description" content="{{ description }}"/>
    <meta property="og:description" content="{{ description }}">
  {% endif %}
  <meta property="og:url" content="{{ page.url }}">
</head>
<body>
  <div class="py-6 flex">
    <main class="mx-auto pb-6 flex w-full page_width">
      <div class="pr-8 pt-2">
        <div class="border border-gray-300 pb-3">
          <h3 class="text-xl bg-red-500 text-white px-3 py-1">Categories</h3>
          <ul>
            <li class="px-3 pt-2"><a class="link" href="/">ALL</a></li>
            {% for cat in collections.blogCategories %}
              <li class="px-3 pt-2"><a class="link" href="/category/{{ cat.slug }}">{{ cat.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="flex-grow">
        {% block content %}{{ content | safe }}{% endblock %}
      </div>
    </main>
  </div>
</body>
</html>
