@import "variables";
@import "fonts";

body
{
  font-family: Roboto, Arial, Helvetica, sans-serif;
  color: $text-color;
  background-color: $bg-color;
}

.page_width
{
  max-width: $limited-width;
}

.link,
.links a
{
  color: $link-color;

  &:hover
  {
    color: $link-hover;
  }

  &.under:hover
  {
    text-decoration: underline;
  }
}

main
{
  h1,
  h2
  {
    color: $menu-color;
  }

  img
  {
    max-width: 100%;
    max-height: 100vh;
  }
}

.content
{
  background-color: $content-bg;
}

.category
{
  background-color: $category-bg;
  color: $category-color;
}
