$limited-width: 1170px;
$bg-color: #F9F9F9;
$content-bg: #FFF;
$text-color: #666;
$menu-color: #444;
$link-color: #1C928C;
$link-hover: #24BDB5;
$category-bg: #F4F0EB;
$category-color: #000;
