$limited-width: 1170px;
$bg-color: #F9F9F9;
$content-bg: #FFF;
$content-border: #DDD;
$logo-color: #E82C2A;
$text-color: #666;
$menu-color: #444;
$menu-border: #CCC;
$menu-hover: #333;
$menu-hover-bg: #EBEBED;
$searchbar-bg: #D22630;
$searchbar-color: #FFF;
$searchbox-border: #BE2739;
$searchbox-prepend: #96959A;
$searchbox-append: $text-color;
$searchbox-color: $menu-color;
$footer-bg: $menu-hover-bg;
$link-color: #1C928C;
$link-hover: #24BDB5;
$summary-hover: #AAA;
$card-top-border: #C9E4E3;
$card-footer-bg: #F0F0F0;
$card-footer-hover: #888;
$sidebar-link: #555;
$checkmark: #2E9A94;
$promo-tld: #777;
$button-bg: #E1EAEF;
$button-hover: #C0D3DD;
